<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Key</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <th scope="row">1</th>
            <!--<td setBackground [color]="'red'" [defaultColor]="'blue'">{{category.name}}</td>-->
            <td [setBackground]="'red'" [defaultColor]="'blue'">{{category.name}}</td>
            <td>{{category.key}}</td>
            <td>
                <a (click)="onEditCategoryClicked(category.id)">Edit</a>
                <a (click)="onSummaryCategoryClicked(category)">Summary</a>
            </td>
        </tr>
    </tbody>
</table>
<!--<summary-category [category]=selectedCategory></summary-category>-->
<show-name-category (onChangedCategoryName)="onSetNewCategoryName($event)" [categoryName]="selectedCategory.name" *ngIf="selectedCategory"></show-name-category>